<form><div class="SalaEspera">

    <div class="mensajeEspera" style="width: 6rem;">
        Esperando a los otros jugadores
      </div>

      <br>

    <img src="https://i.ibb.co/vLmJ3Cj/reloj-arena.png" class="img" alt="reloj-arena" >


    <!--<div *ngFor="let hero of heroes; let i=index; let odd=odd; trackBy: trackById" [class.odd]="odd">
      ({{i}}) {{hero.name}}
    </div>
    
    <ng-template ngFor let-hero [ngForOf]="heroes" let-i="index" let-odd="odd" [ngForTrackBy]="trackById">
      <div [class.odd]="odd">({{i}}) {{hero.name}}</div>
    </ng-template>
    -->



</div>
</form>


  <router-outlet></router-outlet>