  .title{
    font-size: 5em;
    @media (max-width: 575.98px){
      font-size: 2em;
    }
  }
  .SalaEspera {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    margin: auto;
    width: 90%;
    height: 100%;
    border: 3px solid green;
    padding: 15px ;
    text-align: center;
    justify-content: center;
  }
  .page{
    margin: 8em auto;
    @media (max-width: 575.98px){
      margin: 5em;
      
    }
  }
  .mensajeEspera {
    margin: auto;
    width: 90%;
    height: 100%;
    border: 3px solid blue;
    padding: 10px ;
    
    text-align: center;
  }
  img {
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 5px;
    width: 150px;
    align-self: center;
  }
  