<div class="background">
  <div class="card" style="width: 40rem; border-radius: 10px; background-color: antiquewhite">
    <div class="card-body">
      <div class="col">
        <input
          type="text"
          class="form-control"
          placeholder="INGRESA TU PREGUNTA"
        />
      </div>
      <div class="row text-center" style="padding-top: 1rem">
        <div class="col-md-6">
          <div
            class="card mdb-color lighten-2 text-center z-depth-2"
            style="border-radius: 10px; background-color: springgreen"
          >
            <div class="card-body">
              <h5 class="card-title">RESPUESTA CORRECTA</h5>
              <button class="btn btn-primary" style="background-color: gray; border-color: black">ADD POINT</button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div
            class="card mdb-color lighten-2 text-center z-depth-2"
            style="border-radius: 10px; background-color: red; height: 105px;"
          >
            <div class="card-body">
              <h5 class="card-title">RESPUESTA INCORRECTA</h5>
            </div>
          </div>
        </div>
        <div style="padding-top: 1rem;">
          <button class="btn btn-primary" style="background-color: gray; border-color: black; width: 15rem;">+</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card" style="width: 40rem; border-radius: 10px; background-color: antiquewhite; margin-top: 5rem;">
    <div class="card-body">
      <div class="row text-center" style="padding-top: 1rem">
        <div class="col-md-6">
          <div
            class="card mdb-color lighten-2 text-center z-depth-2"
            style="border-radius: 10px; background-color: deepskyblue;"
          >
            <div class="card-body">
              <h5 class="card-title">NUEVA PREGUNTA</h5>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div
            class="card mdb-color lighten-2 text-center z-depth-2"
            style="border-radius: 10px; background-color: yellow;"
          >
            <div class="card-body">
              <h5 class="card-title">FINALIZAR</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
