<form [formGroup]="form">
  <!-- TODO: mostrar los recuedros en rojo de las parte con error al momento de mandar el registro o antes de -->
  <div class="container"
       style="max-width: 700px;">
    <div class="row justify-content-center"
         style="--bs-columns:2;">
      <p class="fs-4">Ingresa tus preguntas para {{quizName}} !!!</p>
      <div class="input-group mb-3">
        <span class="input-group-text"
              id="basic-addon1">Pregunta: </span>
        <input type="text"
               class="form-control"
               formControlName="question"
               placeholder=""
               aria-label="Username"
               aria-describedby="basic-addon1">

        <div class="mt-2"
             *ngFor="let opc of getQuestion(currectQuestion).opciones;let i = index">
          <div class="input-group mb-2 mt-2"
               style="width: 675px;">
            <span class="input-group-text"
                  id="basic-addon1"
                  [textContent]="'Respuesta '+(i+1)+': '">
                <span type="text" *ngIf="opc.esRespuesta"> (Correcta)</span>
                </span>
            <input type="text"
                   class="form-control"
                   placeholder=""
                   aria-label="Username"
                   formControlName="{{opc.controlName}}"
                   aria-describedby="basic-addon1">
            <div *ngIf="opc.esRespuesta">
              <span class="input-group-text"
                    id="basic-addon1"
                    [textContent]="'Puntos: '"></span>
              <input type="text"
                     class="form-control"
                     placeholder=""
                     aria-label="Username"
                     formControlName="points"
                     aria-describedby="basic-addon1">
            </div>
          </div>
        </div>
        <div *ngIf="getQuestion(currectQuestion).opciones.length<4"
             class="me-2">
          <button type="button"
                  class="btn btn-dark"
                  (click)="addAnswer()">Agregar otra respuesta</button>
        </div>
        <div *ngIf="getQuestion(currectQuestion).opciones.length>2"
             class="me-2">
          <button type="button"
                  class="btn btn-warning"
                  (click)="delAnswer()">Quitar una respuesta</button>
        </div>
        <div class="me-2">
          <button type="button"
                  class="btn btn-success"
                  (click)="onNewQuestion()">Agregar pregunta</button>
        </div>

      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><button class="page-link">Anterior</button></li>
          <div *ngFor="let question of quiz.preguntas">
            <li class="page-item"><button class="page-link"
                      (click)="onNavBar(question.page)">{{question.page}}</button></li>
          </div>
          <li class="page-item"><button class="page-link">Siguiente</button></li>
        </ul>
      </nav>
      <div class="me-2">
        <button type="button"
                class="btn btn-primary"
                (click)="onSubmitQuiz()">Finalizar Formulario</button>
      </div>
      <div class="me-2">
        <button type="button"
                class="btn btn-secondary">Cancelar</button>
      </div>
    </div>
  </div>

</form>