.result {
    background-color: #fafafa;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid #ccc;
    text-align: center;
  }
  .imgLogo{
    // background: url('../../../../Common/imgs/logo-1.png');
    src: url('../../../../Common/imgs/logo-1.png');
  }