<form>
    <div class="d-grid gap-2 col-2 mx-auto">
        <div class="mx-auto">
          <h4><p><strong><label for="inputFormname" class="display-150">FORM NAME</label></strong></p></h4>
          <div class="card text-white bg-danger mx-auto" style="max-width: 10rem;">
            <div class="card-body"> 
            <h5 class="card-title">PREGUNTA 1</h5>
            </div>      
          </div>
        </div>   
          <div class="btn-group me-3" role="group" aria-label="First group">
            <button type="button" class="btn btn-outline-secondary ">Respuesta 1</button>
            <button type="button" class="btn btn-outline-secondary ">Respuesta 2</button>
          </div>
           <div class="btn-group me-3" role="group" aria-label="First group">
            <button type="button" class="btn btn-outline-secondary ">Respuesta 3</button>
            <button type="button" class="btn btn-outline-secondary ">Respuesta 4</button>
           </div>
            <div class="d-grid gap-1 col-7 mx-auto">
          <button type="submit" class="btn btn-primary">Skip</button>
            </div>      
        </div>      
  </form>