<section class="container-fluid align-items-center" style="background-color: rgb(143, 235, 163);">
    <div class="row row-cols-lg-2 row-cols-1 justify-content-center align-items-center" >
        <div class="col">
            <div class="">
                <fa-icon [icon]="['fas','square']" [styles]="{'color': 'white'}"></fa-icon>
            </div>
            <div class="d-grid gap-2">
                <input type="button" class="btn btn-secondary" value="Ingresar">
            </div>
        </div>
        <div class="col">
            <div class="title text-center" [textContent]="'E-GO'"></div>
        </div>
        <div class="col textBox">
            <div class="input-group mb-3">
                <input 
                    type="text" 
                    class="form-control" 
                    placeholder="ID PARTIDA" 
                    aria-label="Recipient's username"
                    aria-describedby="basic-addon2"> 
            </div>
            <div class="d-grid gap-2">
                <input type="button" class="btn btn-secondary" value="Ingresar">
            </div>
        </div>
    </div>
</section>

