<app-loading-page [isLoading]="isLoading"></app-loading-page>

<div class="container"
     *ngIf="!isLoading">
  <div class="col mt-5">
    <h1>
      <p>Quiz: <strong><label for="inputParticipantes"
                 class="col-form-label">{{formName}} </label></strong></p>
    </h1>
    <h2>
      <p>Codigo de juego: <strong><label for="inputParticipantes"
                 class="col-form-label">{{codeGame}} </label></strong></p>
    </h2>
  </div>
  <div class="col" *ngIf="loungeStatus==='A'">
    <button type="submit"
            class="btn btn-secondary me-2">Regresar</button>
    <button type="button"
            class="btn btn-secondary"
            (click)="startQuiz()">Empezar Cuestionario</button>
  </div>
  <div class="col" *ngIf="loungeStatus==='S'">
    <button type="button"
            class="btn btn-secondary me-2 mt-2"
            (click)="nextQuestion()">
      <i class="fa-solid fa-angle-right"></i> Siguiente Pregunta</button>
    <button type="button"
            class="btn btn-secondary me-2 mt-2"><i class="fa-solid fa-flag-checkered"></i> Finalizar Quiz</button>
    <button type="button"
            class="btn btn-secondary  mt-2"
            (click)="comenzarPregunta()"> <i class="fa-solid fa-play"></i> ComenzarPregunta</button>
  </div>
  <div class="col mt-3" *ngIf="loungeStatus==='S'">
    <h2>
      <p>Pregunta #{{curretQuestion?.idPregunta}}:<strong><label for="inputParticipantes"
                 class="col-form-label">{{curretQuestion?.descripcionPregunta}}</label> </strong></p>
    </h2>
  </div>
  <!-- <div class="col mt-3">
        <app-progress-bar [isLoading]="startTime"
                          [time]="15"
                          [resetTime]="resetTime"></app-progress-bar>
    </div> -->
  <div class="col-auto mt-5">
    <table class="table table-info table-striped">
      <thead>
        <tr class="">
          <th scope="col">Total: {{participantList.length}}</th>
          <th scope="col">Participantes</th>
          <th scope="col"><i class="fa-solid fa-users"></i> Clase</th>
          <th scope="col"><i class="fa-brands fa-bitcoin"></i> Bitcoins</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let participant of participantList; let i=index">
          <th scope="row">{{i+1}}</th>
          <td>{{participant.userName}}</td>
          <td *ngIf="participant?.typePlayer==='M'"><i class="fa-solid fa-crown"></i> Master</td>
          <td *ngIf="participant?.typePlayer==='P'"><i class="fa-solid fa-frog"></i> Usuario</td>
          <td *ngIf="participant?.typePlayer==='I'"><i class="fa-solid fa-circle-question"></i> Invitado</td>
          <th scope="col"><i class="fa-brands fa-bitcoin"></i> Bitcoins</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>