<app-loading-page [isLoading]="isLoading"></app-loading-page>
<div class="inicio Sesión">
  <form class="custom-form" [formGroup]="form">
    <h1>Iniciar Sesión</h1>
    <input
      type="text"
      name="usuario"
      placeholder="USUARIO"
      required="required"
      formControlName="user"
    />
    <input
      type="password"
      name="password"
      placeholder="CONTRASEÑA"
      formControlName="pass"
      required="required"
    />
    <button type="submit" (click)="onLogIn()">ingresar</button>
    <a routerLink="/authentication/singup"
           routerLinkActive="active"
           class="text-decoration-none">REGISTRARSE</a>
  </form>
</div>
