<app-loading-page [isLoading]="isLoading"></app-loading-page>
<div class="inicio Sesión">
  <form class="custom-form" [formGroup]="form">
    <h1>INICIA SESION</h1>
    <input
      type="text"
      name="usuario"
      placeholder="USUARIO"
      required="required"
      formControlName="user"
    />
    <input
      type="password"
      name="password"
      placeholder="CONTRASEÑA"
      formControlName="pass"
      required="required"
    />
    <div class="col">
      <button type="submit" (click)="onLogIn()">ingresar</button>
      <div class="center">
        <a routerLink="/authentication/singup"
           routerLinkActive="active"
           class="text-decoration-none">O REGISTRATE AQUÍ</a>
      </div>
    </div>
    
  </form>
</div>
