<app-loading-page [isLoading]="isLoading"></app-loading-page>
<div class="container"
     *ngIf="!isLoading">
     <div class="container" style="max-width: 40em;">
        <h1 class="mb-3">Seleccione un Quiz para crear una Sala</h1>
        <form [formGroup]="form">
            <select class="form-select select-css"
                    formControlName="quizSelect">
                <option [ngValue]="'-1'"
                        [selected]="true">Seleccione un Quiz</option>
                <option *ngFor="let item of quizList; let i=index;"
                        [ngValue]="item?.idCuestionario">
                    {{item.nombreCuestionario}}
                </option>
            </select>
        </form>
        <div class="input-group mt-4 mb-3">
            <div class="me-3">
                <button type="button"
                        class="btn btn-secondary"
                        (click)="onSelectQuiz()">
                    CREAR LOBBY
                </button>
            </div>
            <div class="me-3">
                <button type="button"
                        class="btn btn-danger"
                        (click)="onBackToCheckIn()">
                    CANCELAR
                </button>
            </div>

        </div>
    </div>
</div>