<div class="background">
  <div
    class="card"
    style="width: 40rem; border-radius: 10px; background-color: antiquewhite"
  >
    <div class="card-body">
      <div class="row text-center" style="padding-top: 1rem">
        <div>
          <div
            class="card mdb-color lighten-2 text-center z-depth-2"
            style="border-radius: 10px; background-color: springgreen"
          >
            <div class="card-body">
              <div class="row text-center" style="padding: 1rem">
                <h5 class="col-md-4">
                  <div>Pregunta N1</div>
                  <div>Pregunta N2</div>
                  <div>Pregunta N3</div>
                  <div>Pregunta N4</div>
                  <div>Pregunta N5</div>
                  <div>Pregunta N6</div>
                  <div>Pregunta N7</div>
                  <div>Pregunta N8</div>
                  <div>Pregunta N9</div>
                  <div>Pregunta N10</div>
                </h5>
                <h5 class="col-md-4">
                  <div>Nmr Respuestas</div>
                  <div>Nmr Respuestas</div>
                  <div>Nmr Respuestas</div>
                  <div>Nmr Respuestas</div>
                  <div>Nmr Respuestas</div>
                  <div>Nmr Respuestas</div>
                  <div>Nmr Respuestas</div>
                  <div>Nmr Respuestas</div>
                  <div>Nmr Respuestas</div>
                  <div>Nmr Respuestas</div>
                </h5>
                <h5 class="col-md-4">
                  <div>Puntaje</div>
                  <div>Puntaje</div>
                  <div>Puntaje</div>
                  <div>Puntaje</div>
                  <div>Puntaje</div>
                  <div>Puntaje</div>
                  <div>Puntaje</div>
                  <div>Puntaje</div>
                  <div>Puntaje</div>
                  <div>Puntaje</div>
                </h5>
              </div>
              <button
                class="btn btn-primary"
                style="
                  background-color: yellow;
                  border-color: black;
                  width: 15rem;
                  color: black;
                "
              >
                EDITAR
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="card"
    style="
      width: 40rem;
      border-radius: 10px;
      background-color: antiquewhite;
      margin-top: 1rem;
    "
  >
    <div class="card-body">
      <div class="row text-center" style="padding-top: 1rem">
        <div class="col-md-6">
          <div
            class="card mdb-color lighten-2 text-center z-depth-2"
            style="border-radius: 10px; background-color: deepskyblue"
          >
            <div class="card-body">
              <h5 class="card-title">COMENZAR</h5>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div
            class="card mdb-color lighten-2 text-center z-depth-2"
            style="border-radius: 10px; background-color: red"
          >
            <div class="card-body">
              <h5 class="card-title">ATRÁS</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
